node-linker=hoisted

# If you want peer dependencies to be automatically installed
# auto-install-peers=true

# If you don't want pnpm to fail on peer dependency issues
strict-peer-dependencies=false

public-hoist-pattern[]=*prisma*
