@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background-color: #000;
  color: #fff;
}

@layer components {
  .text-gradient {
    background: -webkit-linear-gradient(
      35deg,
      var(--tw-gradient-from),
      var(--tw-gradient-to)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background: #ddd;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
